<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head.html :: head"> </th:block> /*/-->
</head>

<body>
<main>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header.html :: header"> </th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/breadcrumb.html :: breadcrumb"> </th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/error.html :: error"> </th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/info.html :: infos"> </th:block> /*/-->

        <div class="row" >
            <div class="col align-self-end">
                <a th:href="@{'/patients/' + ${patientId} + '/' + 'add-note'}" class="btn btn-info"><i class="bi bi-stickies"></i> Add a note</a>
            </div>
        </div>
        <div class="row" th:if="${notes.empty}">
            <p>No notes for this patient</p>
        </div>
        <div class="row" th:each="note, index : ${notes}">
            <div class="col">
                <br>
                <div class="card">
                    <div class="card-header">
                        Note # [(${index.index+1})]
                    </div>

                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>[(${note.note})]</p>
                            <footer class="blockquote-footer">By <cite title="Source Title">Doctor </cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<!--/*/ <footer:block th:include="fragments/footer.html :: footer"> </footer:block> /*/-->
<!--/*/ <th:block th:include="fragments/js.html :: js"> </th:block> /*/-->

</body>
</html>