<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head.html :: head"> </th:block> /*/-->
</head>

<body>
<main>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header.html :: header"> </th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/breadcrumb.html :: breadcrumb"> </th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/error.html :: error"> </th:block> /*/-->
        <!--/*/ <th:block th:include="fragments/info.html :: infos"> </th:block> /*/-->

        <div class="row">
            <div class="col">
                <h1>Patients menu</h1>
                <a href="/patients/add-form" class="btn btn-info" role="button"><i class="bi bi-person-fill-add"></i>
                    Add patient</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <form action="#" th:action="@{/patients/search}" th:object="${searchPatientRequest}" method="get">
                    <fieldset>
                        <legend>Find patient</legend>
                        <div class="mb-3">
                            <label for="query" class="form-label">Firstname or Lastname</label>
                            <input type="text" th:field="*{query}" id="query" class="form-control"
                                   placeholder="John">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">DateOfBirth</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Risk diabetes</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <th>[(${patient.firstName})]</th>
                    <td>[(${patient.lastName})]</td>
                    <td>[(${patient.dateOfBirth})]</td>
                    <td>[(${patient.gender})]</td>
                    <td>[(${patient.address})]</td>
                    <td>[(${patient.phoneNumber})]</td>
                    <td>[(${patient.riskDiabetes})]</td>
                    <td>
                        <a th:href="@{'/patients/edit-form/'+${patient.id}}" class="btn btn-success"><i
                                class="bi bi-pencil-fill"></i> Edit</a>
                        <a th:href="@{'/patients/' + ${patient.id} + '/' + 'notes'}" class="btn btn-secondary"><i
                                class="bi bi-stickies"></i> View patient notes</a>
                    <td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
<!--/*/ <footer:block th:include="fragments/footer.html :: footer"> </footer:block> /*/-->
<!--/*/ <th:block th:include="fragments/js.html :: js"> </th:block> /*/-->

</body>
</html>